<!DOCTYPE html>
<html lang="ru">

<%- partial('_partial/head') %>

<body>
	<%- partial('_partial/menu') %>

  <div class="container">
    <%- body %>
  </div>

  <footer>
    Made with ♥
    <a href="https://github.com/iiiypuk/hexo-theme-pisska" title="Version: 4">Pisska</a>
  </footer>
</body>

</html>
