<p class="post-title"><%= page.title %></p>
<hr>
<p class="post-date">
  Опубликовано: <%- date(page.date, 'Do MMMM YYYY') %>
  &mdash;
  Обновлено: <%- date(page.updated, 'Do MMMM YYYY') %>
</p>
<hr>
<div class="post-content">
  <%- page.content %>
</div>
