:root {
	--font-family: 'Fira Sans Condensed', sans-serif;
	--max-width:  860px;
	--bg-color: #fefefe;
	--font-size: 1.3rem;
}

* {
	padding: 0;
	margin: 0;
	outline: 0;
}

body {
	font-family: var(--font-family);
	background-color: var(--bg-color);
	font-size: var(--font-size);
	line-height: 1.725;
	text-rendering: geometricPrecision;
}

nav {
	background-color: var(--bg-color);
	border-bottom: 1px solid #999999;
	font-weight: bold;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

nav div {
	padding: 1rem;
}

div.container {
	margin: 80px auto;
	max-width: 800px;
}

a {
	color: #000000;
	border-bottom: 3px solid rgba(0, 0, 0, .1);
	text-decoration: none;
	transition: border-bottom-color .2s;
}

nav a, footer a {
	border-bottom-color: rgba(0, 0, 0, 0);
}

a:hover {
	border-bottom-color: rgba(0, 0, 0, 1);
	transition: border-bottom-color .2s;
}

a.post-link {
	cursor: pointer;
}

div.post-link {
	margin: 8px;
}

figure.highlight, code {
	color: #dcdde1;
	font-size: 1.1rem;
	background-color: #2f3640;
	font-weight: normal;
}

figure.highlight {
	overflow-x: scroll;
}

span.line {
	margin-right: 10px;
	margin-left: 10px;
}

pre, code {
	font-family: 'Fira Mono', monospace;
}

code {
	padding: 4px;
}

td.gutter {
	border-right: 1px solid #dcdde1;
}

p.year {
	font-weight: bold;
	padding-top: 20px;
}

div.archives {
	line-height: 1.3;
}

footer {
	background-color: var(--bg-color);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #999999;
	text-align: center;
	padding: 0.5rem 0;
}

footer a {
	color: #000000;
}

p.post-title {
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
}

p.post-date {
	font-size: 1rem;
	color: #777777;
	text-align: center;
}

div.post-content {
	margin-top: 10px;
}

div.post-content img {
	max-width: 100%;
	text-align: center;
}
